/*
Theme Name: Iconic One child
Theme URI: http: //aleksander.es
Description: Child of the Iconic One theme.
Author: Aleksander Morgado
Author URI: https://aleksander.es
Template: iconic-one
Version: 0.1
*/

@import url("../iconic-one/style.css");

.section {
	clear: both;
	padding: 0;
	margin: 0;
	text-align: justify;
	text-justify: inter-word;
}

.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child {
	margin-left: 0;
}

@media only screen and (min-width: 480px) {
	.span_3_of_3 {
		width: 100%;
	}

	.span_2_of_3 {
		width: 66.1%;
	}

	.span_1_of_3 {
		width: 32.2%;
	}

	.span_1_of_2 {
		width: 49%;
	}

	.col {
		display: block;
		float: left;
		margin: 1% 1px;
	}

	.col:first-child {
		margin-left: 0;
	}
}

@media only screen and (max-width: 480px) {

}

/* Normal text divisions */
div {
	text-align: justify;
	text-justify: inter-word;
}

div.top-padded {
	padding-top: 20px;
}
